/* COMMON */
* {
  box-sizing: border-box;
}

html {
  /* 스크롤 이동을 부드럽게 */
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;


}

html, body{
  overflow-x: hidden;
}

.font-en {
  font-family: "Open Sans", sans-serif;
}

a {

  text-decoration: none;
  color: inherit;
}

.inner {

  max-width: 1600px;

  margin: 0 auto;
  
}


img {

  display: block;
}

.title {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
  color: #0078C8;
  border:2px solid #0078C8;
  outline: none;
}

/* HEADER */
header {
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
  box-shadow: 0 2px 8px rgba(204, 204, 204, 0.8);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  opacity: 0;

  
}
header > .inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  width: 40px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 10px 40px;
  font-weight: bold;
}
header nav ul li a {
  position: relative;
}

header .search .search-div{
  padding: 10px;
  cursor: pointer;
}

header .btn-hamburger {
  display: none;
}
header .btn-hamburger .material-symbols-outlined {
  font-size: 40px;
  /* 수직 정렬 맞추기 */
  display: block;
  /* line-height: 60px; */
}

/* VISUAL */
.visual {

  width: 100%;
  background-color: #0078C8;

  transition: 2s;
  height: 100vh;
  padding: 3%;

}


.visual-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  z-index: -1;
}


.visual > .inner {
  margin: auto;
  font-size: 50px;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 20px;
  background-image: url(/images/winter-7593872_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.visual.show > .inner {
  animation: moveBackground 2s linear forwards ; 
}
.Description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 50px;
}


.viimg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.viimg img {
  max-height: 60vh;
}

.vitext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
}



.vitext .name {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 30px;

}

.vitext ul {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.vitext ul li {
  justify-content: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.vitext ul li:hover {
  color: #0078C8 ; 
  -webkit-text-stroke: 1px #fff;
}























/* ABOUT */
.about {
  padding: 150px 0;
  height: 100vh;
}

.about  .about__wrapper {
  display: flex;
  column-gap: 200px;
  margin-top: 100px;
  transition: 1s;
}

.about .about__img img{
  width: 40vh;
  height: 50vh;
  margin-left: 100px;
  opacity: 0;

}

.about .about__text{
  align-content: end;
  line-height: 45px;
  
}

.about .about__text .slogan{
  font-size: 60px;
  font-weight: 700;
  display: block;
  opacity: 0;
}
.about .about__text .data{
  font-size: 25px;
  padding-top: 10px;
  opacity: 0;
}

.about .about__text .career{
  font-size: 20px;
  opacity: 0;
  animation-delay: 0.4s;
}

.about .about__text  ul{
  opacity: 0;
  animation-delay: 0.6s;
}

.about.show .about__text .slogan{
  animation: abouttext 1s;
  opacity: 1;
}

.about.show .about__text .data{
  animation: abouttext 1s;
  opacity: 1;
  animation-delay: 0.2s;

}

.about.show .about__text .career{
  animation: abouttext 1s;
  opacity: 1;
  animation-delay: 0.4s;
}

.about.show .about__text  ul{
  animation: abouttext 1s;
  opacity: 1;
  animation-delay: 0.6s;

}

.about.show .about__img img{
  animation: aboutimg 1s;
  opacity: 1;
}













/* SKILL */
.skill{
  padding: 150px 0;
  background-color: #0078C8;
  height: 100vh;

}


.skill .inner{
  background-color: #fff;
  /* padding: 1px 1px  4% 1px; */
  padding-bottom: 50px;
  border-radius: 0 0 20px 20px;

}


.skill__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  text-align: center;

}
 .skillul ul {
    padding: 20px;
    
  }

  .skillul li {
    line-height: 1.5;
    font-size: 20px;
    
    
  }

.skill__box {
  width: 40%;
  height: 250px;
  border: 1px solid #c8c8c8;
  border-radius: 20px;
}
.skill__box span{
  font-size: 30px;
  font-weight: 700;
}


.skill__box .skillimg{
  display: flex;
}
.skliul li{
  text-align: center;
}

.skill__box img{
  width: 25%;
  margin: 20px;
  border-radius: 20px;
  
}

.skill .skill__box.left{
  transition: 2s;
  opacity: 0;
  transform: translateX(-300px);
}
.skill.show .skill__box.left{
  opacity: 1;
  transform: translateX(0px);

}

.skill .skill__box.right{
  transition: 2s;
  opacity: 0;
  transform: translateX(300px);

}
.skill.show .skill__box.right{
  opacity: 1;
  transform: translateX(0px);
}





.skill .skill__box.top{
  transition: 2s;
  opacity: 0;
  transform: translateY(-200px);
}
.skill.show .skill__box.top{
  opacity: 1;
  transform: translateY(0px);

}

.skill .skill__box.bottom{
  transition: 2s;
  opacity: 0;
  transform: translateY(300px);

}
.skill.show .skill__box.bottom{
  opacity: 1;
  transform: translateY(0px);
}



/* PROJECT */

.project {
  padding: 150px;
}
.project .port {
  display: flex;
  margin: 20px 0;
  opacity: 0;
  transition: 2s;
}

.project .port .port__img,
.project .port .port__text {
  width: 50%;
  height: 300px;
}
.project .port .port__img .swiper {
  width: 100%;
  height: 100%;
}
.project .port .port__img .swiper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* object-fit: cover; */
}
.project .port .port__text {
  padding: 30px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.project .port .port__text h3 {
  font-size: 20px;
  font-weight: 800;
}
.project .port .port__text li {
  line-height: 1.8;
}
.project .port .port__text li span {
  font-weight: bold;
}
.project .port .btn-group {
  display: flex;
  /* column-gap: 40px; */
}
/* 또는 */
.project .port .btn-group .btn:first-child {
  margin-right: 40px;
}
.project .subport {
  display: flex;
  flex-wrap: wrap;

}

.project .subport img{
  width: calc(25% - 40px);
  margin: 20px;
}
.project .subport img:hover{
  cursor: pointer;
}


.port.num2{
  display: none;
}

.port.num3{
  display: none;
}

.port.num4{
  display: none;
}






.project.show .port{ 
  opacity: 1;
}











.subport img{
  transform: translateY(200px);
  opacity: 0;
  transition: 2s;
}
.project.show .subport img:nth-child(1){
  transform: translateY(0px);
  opacity: 1;
}

.project.show .subport img:nth-child(2){
  transform: translateY(0px);
  opacity: 1;
  transition-delay: 0.2s;
}
.project.show .subport img:nth-child(3){
  transform: translateY(0px);
  opacity: 1;
  transition-delay: 0.4s;
}
.project.show .subport img:nth-child(4){
  transform: translateY(0px);
  opacity: 1;
  transition-delay: 0.6s;
}


















/* CONTACT */
.contact{
  padding: 150px 0;
  background-color: #0078C8;
  height: 100vh;
}
.contact .inner{
  background-color: #fff;
  height: 100%;
  padding-bottom: 30px;
  border-radius: 0 0 20px 20px;
  
}

.info-name{
  font-size: 30px;
  font-weight: 700;
  transform: translateX(-100px);
  transition: 2s;
  opacity: 0;
}

.contact.show .info-name{
  transform: translateX(0);
  opacity: 1;
}


.contact .info-tel li{
  transform: translateX(100px);
  transition: 1s;
  opacity: 0;
}
.contact.show .info-tel li{
  transform: translateX(0);
  opacity: 1;
}

.contact.show .info-tel li:nth-child(2){
  transition-delay: 0.2s;
}
.contact.show .info-tel li:nth-child(3){
  transition-delay: 0.4s;
}




.info-tel{
  font-size: 20px;
  line-height: 30px;
}

.contact .info{
  justify-content: center;
  align-content: center;
  display: flex;
  margin-top: 200px;
  column-gap: 60px;
  align-items: center;
}

.contact .projectimg{
  position: fixed;
  bottom: 20%;
  right: 200px;
  border: 2px solid #0078C8;
  transform: translateX(500px);
  transition: 1s;
}
.contact.show .projectimg{
  transform: translateX(0px);
}

.projectimg img:hover{
  opacity: 1;
}

.projectimg img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0.8;
  border: 1px solid #0078C8;
}
.projectimg li{
  padding: 20px;
}













/* FOOTER */
footer{
  background-color: #333;
  color: #fff;
  position: relative;
}

footer .copyright{
  text-align: center;
  font-weight: 600;
  line-height: 200px;
}






/* SCROLL TO TOP */
#toTop{
  position: fixed;
  right: 50px;
  bottom: 80px;
}




















@keyframes moveBackground {
  0% {
    background-position: 0 10%; 
  }
  70%{background-position: 0 80%; }
  80%{background-position: 0 78%; }
  100%{
    background-position: 0 80%; 
  }
}


@keyframes aboutimg {
  0%{transform: translateX(-50px); opacity: 0;}
  100%{transform: translateX(-0px); opacity: 1;}
}


@keyframes abouttext{
  0%{transform: translateY(300px); opacity: 0;}
  100%{transform: translateY(0px); opacity: 1;}
}








@media screen and (max-width: 767px) {

  header > .inner {
    padding: 0 20px;
    gap: 300px;
  }


  header .btn-hamburger {
    display: block;
  }
  header nav {
    background-color: rgba(73, 158, 255, 0.8);
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    /* height: 100%; */
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    
  }
  header nav.active {
    height: 100%;
  }
  header nav ul {
   
    flex-direction: column;
    padding-top: 60px;
    margin: auto;
    align-items: center;
  }
  header nav ul li {
    padding: 10px 80px;
    font-size: 30px;
  }
  header nav ul li a {
    transition: 0.5s;
  }
  header nav ul li a:hover {
    letter-spacing: 10px;
  }
.skill{
  background-color: #fff;
}

.visual .vitext {
  top: 50% ;
  transform:  translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  }
.visual .name {
    font-size: 38px;
  }

  .visual li {
    font-size: 16px;
  }


  .about {
  padding: 100px 0;
  height: auto;
}

.about  .about__wrapper {
  display: flex;
  column-gap: 200px;
  margin-top: 100px;
  transition: 1s;
  flex-direction: column;
}

.about .about__img img{
  width: 60%;
  height: 80%;

  opacity: 0;
  margin-bottom: 100px;

}

.about .about__text{
  align-content: end;
  line-height: 45px;
  text-align: center;
  
}

.about .about__text .slogan{
  font-size: 40px;
}
.about .about__text .data{
  font-size: 20px;

}

.about .about__text .career{
  font-size: 18px;

}
.about .about__text ul{
  font-size: 15px;
}


  .skill__box {
    width: 40%;
    height: 250px;
    padding: 20px;
  }

  .skill__box span {
    font-size: 24px;
  }

  .skillimg {
    flex-direction: column; /* 가로 → 세로로 */
    align-items: center;
    text-align: center;
  }

  .skill__box img {
    width: 60px;
    margin: 20px 0;
  }

  .skillul ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .skillul li {
    font-size: 14px;
    line-height: 1.5;
  }



.contact .projectimg{
  right: 20px;
}
.contact.show .projectimg{
  transform: translateX(0px);
}

.project {
  padding: 150px 20px;
}
.projectimg img:hover{
  opacity: 1;
}

.projectimg img{
  width: 50px;
  height: 50px;

}
.contact{
  background-color: #fff;
}


}